@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Overlay Image */
#overlay-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/src/img/gettyimages-1336144024-640x640.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: 9999; /* Au-dessus de tout */
  pointer-events: none; /* Permet les clics à travers l'image */
  opacity: 0.2; /* Ajustez cette valeur pour changer l'opacité */

}

body {
  background: #008282;
  font-family: 'Pixelify Sans', serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.2);
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 130, 130, 0.8); /* Opacité de 50% (0.5) */
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

#desktop {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  z-index: 1; /* Assure que le contenu est au-dessus du fond */
}

/* Carte Quiz */
.card {
  width: 300px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background-color: #0f0c0c;
  border: 4px solid #c0c0c0;
  border-radius: 1px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  z-index: 2; /* Assure que la carte est au-dessus du fond */
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  border: 4px solid #c0c0c0;
  border-radius: 1px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
  padding-top: 20px; /* Ajout pour éviter que le contenu chevauche le score */
}

/* Carte front (recto) */
.card .front {
  background-color: #0f0c0c;
  color: #ffffff;
}

.card .back {
  background-color: #c0c0c0;
  color: #0f0c0c;
  transform: rotateY(180deg);
  border: 4px solid #808080;
}

/* La croix est maintenant visible sur les deux côtés */
.close-card {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #c0c0c0;
  color: black;
  border: 1px outset #808080;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  z-index: 1;
  border-radius: 1px; /* Forme carrée avec bords arrondis */
}

.close-card:hover {
  background: #ffffff;
  border: 1px inset #808080;
}

/* Carte flippée (retournée) */
.card.flipped {
  transform: rotateY(180deg);
}

/* Barre Windows 98 */
#taskbar {
  height: 40px;
  background: #c0c0c0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
  border-top: 2px solid #fff;
  z-index: 100; /* Assure que la barre des tâches est au-dessus du contenu */
}

#start-button {
  display: flex;
  align-items: center;
  color: black;
  padding: 5px 10px;
  border: 2px outset #808080;
  border-radius: 2px;
  cursor: pointer;
}

#start-button img {
  height: 20px;
  margin-right: 5px;
}

#start-button:hover {
  background: #ffffff;
  border: 2px inset #808080;
}

#taskbar-buttons {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.button {
  background: #c0c0c0;
  color: black;
  padding: 5px 10px;
  border: 2px outset #808080;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
}

.button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.button a:visited {
  color: inherit;
}


.button-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.button:hover {
  background: #ffffff;
}

/* Boutons de réponse sous la question */
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.answer-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #c0c0c0;
  border: 2px outset #808080;
  border-radius: 1px;
  cursor: pointer;
  font-family: 'Pixelify Sans', bold;
}

.answer-button:hover {
  background-color: #ffffff;
}

/* Nouveau bouton cas */
.new-case-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0f0c0c;
  border: 2px outset #808080;
  border-radius: 1px;
  cursor: pointer;
  font-family: 'Pixelify Sans', bold;
  color: #c0c0c0;
  margin-top: 20px;
}

.new-case-button:hover {
  background-color: #ffffff;
}

#center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Ajustez selon la taille souhaitée */
  height: auto;
  pointer-events: none; /* Empêche le logo d'interférer avec les clics sur les autres éléments */
}

#score-container {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 18px;
  background-color: #C0C0C0;
  padding: 10px;
  border-radius: 2px;
  border: 2px outset #808080;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100; /* Assure que le score est au-dessus du fond */
}

/* Bloc-notes */
#notepad-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Assure que le bloc-notes est au-dessus de tout */
}

.notepad {
  background: #BFBFBF;
  display: block;
  min-height: 100px;
  width: 500px;
  padding: 4px;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
  border: 1.4px solid white;
}

.notepad-bar {
  width: 100%;
  background: #01007A;
  height: 23px;
}

.notepad-title {
  color: white;
  letter-spacing: .5px;
  word-spacing: .5px;
  padding-left: 5px;
  float: left;
  font-weight: 600;
}

.notepad-minimize, .notepad-maximize, .notepad-exit {
  height: 100%;
  display: block;
  float: right;
  padding-top: 3px;
  padding-bottom: 3px;
}

.notepad-exit {
  padding-left:  5px;
  padding-right: 5px;
}

.button-minimize, .button-maximize, .button-exit  {
  background: #BFBFBF;
  height: 100%;
  width: 19px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.button-exit {
  font-size: 55%;
  margin: auto;
  text-align: center;
}

.notepad-icon {
  height: 100%;
  float: left;
  padding-top: 1px;
}

.notepad-icon img {
  object-fit: fill;
  display: block;
  height: 19px;
  width: 19px;
}

.icon-maximize {
  border-bottom: 1px solid black;
  border-top: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 80%;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 1.2px;
}

.icon-minimize {
  border-bottom: 2px solid black;
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  margin-left: 1.5px;
}

.notepad-settings {
  width: 100%;
  float: left;
  display: inline-flex;
  margin-left: 10px;
  margin-bottom: 5px;
}

.settings-text {
  padding-right: 15px;
}

.underline {
  text-decoration: underline;
}

.notepad-content {
  height: 400px;
  width: 100%;
  background: white;
  clear: both;
  border-radius: 1px;
  border: 1.2px solid black;
  overflow: auto;
  padding: 5px;
}